
body {
    background: url("/images/bg_body.gif") repeat-x fixed left top #F8F8F8;
    margin: 0;
    padding: 0;
}
.clear {
    clear: both;
    font-size: 1px;
    height: 1px;
    margin-top: -1px;
    overflow: hidden;
}
body, input, select, textarea, table, td, div {
    font-family: arial,verdana,"Lucida Grande",sans-serif;
    font-size: 11px;
}
form, h1, h2, h3, h4, h5, h6, ul {
    margin: 0;
    padding: 0;
}
#page ul li {
    list-style-type: none;
}
#page a {
    cursor: pointer;
    outline: 0 none;
    text-decoration: none;
}
#page a.bluelink {
    color: #4E5989;
}
body.activities_events #page, body.findit_index #page {
    margin: auto;
    width: 755px;
}
#page {
    background: none repeat scroll 0 0 #FFFFFF;
    margin: auto;
    width: 960px;
}
.pagewrapper {
    background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    height: auto;
}
.headerwrapper {
    background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    padding: 10px 10px 0;
}
.bodywrapper {
    background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    padding: 5px 8px 10px 10px;
}
.contentbody {
    background: none repeat scroll 0 0 #FFFFFF;
    margin-top: 20px;
}
.contentbody img {
    border: 0 none;
    margin: 0;
    padding: 0;
}
.contentbody a:hover {
    cursor: pointer;
    text-decoration: underline;
}
.border_wrapper {
    background: none repeat scroll 0 0 #F5F8FF;
    border: 1px solid #E5E5E5;
    float: left;
    padding: 5px 9px;
}
ul.nobullet li {
    background: none repeat scroll 0 0 transparent;
    padding-bottom: 3px;
}
ul.nobullet li a {
    color: #4E5989;
    font-family: arial;
    font-size: 12px;
}
ul.nobullet li a span {
}
ul.nobullet li a:hover span {
    text-decoration: underline;
}
ul.bullet li {
    background: url("/images/list_dot.gif") no-repeat scroll 3px 5px transparent;
    padding-bottom: 5px;
}
ul.bullet li a {
    color: #4E5989;
    font-family: arial;
    font-size: 12px;
}
ul.bullet li a span {
    display: block;
    margin-left: 20px;
}
ul.bullet li a:hover span {
    text-decoration: underline;
}
ul.bullet li.submenu {
    margin-left: 15px;
}
ul.bullet li.submenu a span {
    font-size: 11px;
}
.list_subnav .rule_grey_solid {
    margin: 3px 0 6px;
}
.list_subnav ul.bullet {
    margin-top: 6px;
}
.list_subnav ul.bullet li span {
    font-family: arial;
    font-size: 14px;
}
.list_subnav ul.bullet li {
    background: url("/images/list_dot.gif") no-repeat scroll 3px 7px transparent;
}
.list_subnav ul.bullet li.submenu {
    background: url("/images/list_dot.gif") no-repeat scroll 3px 5px transparent;
}
ol.number {
    margin: 0;
    padding: 10px 0 0 25px;
}
ol.number li {
    background: none repeat scroll 0 0 transparent;
    padding-bottom: 3px;
}
ol.number li a {
    color: #4E5989;
    font-family: arial;
    font-size: 12px;
}
ol.number li a span {
}
ol.number li a:hover span {
    text-decoration: underline;
}
ul.list_hr_line li {
    border-bottom: 1px solid #E5E5E5;
    padding: 6px 0 5px;
}
ul.list_hr_line li a {
    color: #4E5989;
    font-family: arial;
    font-size: 12px;
}
ul.list_hr_line li a span {
    display: block;
    font-size: 14px;
    margin-left: 5px;
}
ul.list_hr_line li a:hover span {
    text-decoration: underline;
}
.border_wrapper ul.list_hr_line li a span {
    font-size: 12px;
}
ul.list_vr_line li {
    background: url("/images/delimiter_hr.gif") no-repeat scroll right center transparent;
    float: left;
    margin-right: 10px;
    padding-right: 15px;
}
ul.list_vr_line li a {
    color: #FFFFFF;
    font-family: arial;
    font-size: 12px;
}
ul.list_vr_line li a span {
}
ul.list_vr_line li a:hover span {
    text-decoration: underline;
}
ul.list_vr_line li.lastlink {
    background: none repeat scroll 0 0 transparent;
}
ul.list_vr_line li.link_blue span {
    font-size: 13px;
    font-weight: bold;
}
ul.list_vr_line li.link_blue a {
    color: #4E5989;
    text-decoration: none;
}
.microsite_nav {
    float: left;
    height: 70px;
    position: relative;
    width: 940px;
}
.microsite_nav .navrow {
    position: absolute;
    top: 0;
}
.microsite_nav .navlogo a {
    float: left;
    height: 60px;
    width: 80px;
}
.microsite_nav .navlogo span {
    display: none;
}
.microsite_nav .navlinks {
    float: left;
    width: 550px;
}
.microsite_nav .nav {
    float: left;
    height: 60px;
    width: 810px;
}
.microsite_nav .navlogotext a {
    float: left;
    height: 40px;
    width: 500px;
}
.microsite_nav .navlogotext span {
    display: none;
}
.microsite_nav .navdropdown {
    float: left;
    margin-top: 5px;
    text-align: center;
    width: 145px;
}
.microsite_nav .navdropdown .label {
    color: #393F5D;
    font-family: arial;
    font-size: 9px;
    margin-bottom: 3px;
    margin-top: 7px;
    text-transform: uppercase;
}
.microsite_nav .navdropdown select {
    width: 150px;
}
.microsite_nav .sponsor {
    float: right;
    margin-top: 5px;
    text-align: center;
    width: 120px;
}
.microsite_nav .sponsor .label {
    color: #FFFFFF;
    font-family: arial;
    font-size: 9px;
    margin-bottom: 3px;
    text-transform: uppercase;
}
.sponsor_hr .sponsor .label {
    float: left;
    margin: 0 10px;
}
#page ul.relatedlinks li.story {
    background: url("/images/icons/story_16_16.gif") no-repeat scroll left top transparent;
}
#page ul.relatedlinks li.doc {
    background: url("/images/icons/document_16_16.gif") no-repeat scroll left top transparent;
}
#page ul.relatedlinks li.offsite {
    background: url("/images/icons/offsite_16_16.gif") no-repeat scroll left top transparent;
}
#page ul.relatedlinks li.video {
    background: url("/images/icons/playvideo_16_16.gif") no-repeat scroll left top transparent;
}
#page ul.relatedlinks li.photo {
    background: url("/images/icons/gallery_16_16.gif") no-repeat scroll left top transparent;
}
#page ul.relatedlinks li.video {
    background: url("/images/icons/playvideo_16_16.gif") no-repeat scroll left top transparent;
}
#page ul.relatedlinks li.audio {
    background: url("/images/icons/audio_16_16.gif") no-repeat scroll left top transparent;
}
#page ul.relatedlinks li.download {
    background: url("/nprd08/images/icons/icon_download_16_16.gif") no-repeat scroll left top transparent;
}
#page ul.relatedlinks li.quotes_up {
    background: url("/images/icons/quotes_up_16_16.gif") no-repeat scroll left top transparent;
}
#page ul.relatedlinks li.quotes_down {
    background: url("/images/icons/quotes_down_16_16.gif") no-repeat scroll left top transparent;
}
#page ul.relatedlinks li.print {
    background: url("/images/icons/print_16_16.gif") no-repeat scroll left top transparent;
}
#page ul.relatedlinks li.typo {
    background: url("/images/icons/typo_16_16.gif") no-repeat scroll left top transparent;
}
#page ul.relatedlinks li.emailtofriend {
    background: url("/images/icons/emailtofriend_16_16.gif") no-repeat scroll left top transparent;
}
#page ul.relatedlinks li.blogs {
    background: url("/images/icons/blogs_16_16.gif") no-repeat scroll left top transparent;
}
#page ul.relatedlinks li.coverage {
    background: url("/nprd08/images/icons/icon_16x16.gif") no-repeat scroll left top transparent;
}
#page ul.relatedlinks li.soundoff {
    background: url("/nprd08/images/icons/icon_16x16.gif") no-repeat scroll left top transparent;
}
#page ul.relatedlinks li.poll {
    background: url("/nprd08/images/icons/icon_16x16.gif") no-repeat scroll left top transparent;
}
#page ul.relatedlinks li.shopping {
    background: url("/nprd08/images/icons/icon_16x16.gif") no-repeat scroll left top transparent;
}
#page ul.relatedlinks li.soundoff {
    background: url("/nprd08/images/icons/icon_16x16.gif") no-repeat scroll left top transparent;
}
#page .relatedlinks ul.bullet li.story {
    background: url("/images/icons/story_16_16.gif") no-repeat scroll left top transparent;
}
#page .relatedlinks ul.bullet li.doc {
    background: url("/images/icons/document_16_16.gif") no-repeat scroll left top transparent;
}
#page .relatedlinks ul.bullet li.offsite {
    background: url("/images/icons/offsite_16_16.gif") no-repeat scroll left top transparent;
}
#page .relatedlinks ul.bullet li.video {
    background: url("/images/icons/playvideo_16_16.gif") no-repeat scroll left top transparent;
}
#page .relatedlinks ul.bullet li.photo {
    background: url("/images/icons/gallery_16_16.gif") no-repeat scroll left top transparent;
}
#page .relatedlinks ul.bullet li.video {
    background: url("/images/icons/playvideo_16_16.gif") no-repeat scroll left top transparent;
}
#page .relatedlinks ul.bullet li.audio {
    background: url("/images/icons/audio_16_16.gif") no-repeat scroll left top transparent;
}
#page .relatedlinks ul.bullet li.download {
    background: url("/nprd08/images/icons/icon_download_16_16.gif") no-repeat scroll left top transparent;
}
#page .relatedlinks ul.bullet li.quotes_up {
    background: url("/images/icons/quotes_up_16_16.gif") no-repeat scroll left top transparent;
}
#page .relatedlinks ul.bullet li.quotes_down {
    background: url("/images/icons/quotes_down_16_16.gif") no-repeat scroll left top transparent;
}
#page .relatedlinks ul.bullet li.print {
    background: url("/images/icons/print_16_16.gif") no-repeat scroll left top transparent;
}
#page .relatedlinks ul.bullet li.typo {
    background: url("/images/icons/typo_16_16.gif") no-repeat scroll left top transparent;
}
#page .relatedlinks ul.bullet li.emailtofriend {
    background: url("/images/icons/emailtofriend_16_16.gif") no-repeat scroll left top transparent;
}
#page .relatedlinks ul.bullet li.blogs {
    background: url("/images/icons/blogs_16_16.gif") no-repeat scroll left top transparent;
}
#page .relatedlinks ul.bullet li.coverage {
    background: url("/nprd08/images/icons/icon_16x16.gif") no-repeat scroll left top transparent;
}
#page .relatedlinks ul.bullet li.soundoff {
    background: url("/nprd08/images/icons/icon_16x16.gif") no-repeat scroll left top transparent;
}
#page .relatedlinks ul.bullet li.poll {
    background: url("/nprd08/images/icons/icon_16x16.gif") no-repeat scroll left top transparent;
}
#page .relatedlinks ul.bullet li.shopping {
    background: url("/nprd08/images/icons/icon_16x16.gif") no-repeat scroll left top transparent;
}
#page .relatedlinks ul.bullet li.soundoff {
    background: url("/nprd08/images/icons/icon_16x16.gif") no-repeat scroll left top transparent;
}
ul.delimeter li {
    float: left;
    margin-right: 5px;
    padding-right: 10px;
}
ul.delimeter li {
    background: url("/images/delimiter_hr.gif") no-repeat scroll right center transparent;
    padding-bottom: 3px;
}
ul.delimeter li a {
    color: #4E5989;
    font-family: arial;
    font-size: 12px;
}
ul.delimeter li a span {
    display: block;
}
ul.delimeter li a:hover span {
    text-decoration: underline;
}
.col_940 .page_title, .col_940 .page_title_no_line {
    width: 100%;
}
.page_title {
    border-bottom: 1px solid #E8E8E8;
    float: left;
    padding: 8px 0 2px;
    width: 620px;
}
.page_title_no_line {
    float: left;
    padding: 8px 0 2px;
    width: 620px;
}
.page_title h3, .page_title_no_line h3 {
    display: inline;
    float: left;
}
.page_title h3 span, .page_title_no_line h3 span {
    color: #9B9B9B;
    font-family: arial;
    font-size: 15px;
    padding: 0 0 1px;
    text-transform: uppercase;
}
.page_title h3 a span, .page_title h3_no_line a span {
    color: #9B9B9B;
    font-family: arial;
    font-size: 24px;
    font-weight: bold;
    padding: 0 0 1px;
    text-transform: uppercase;
}
.page_title h3 a:hover span, .page_title h3_no_line a:hover span {
    text-decoration: underline;
}
.page_title h4, .page_title h4 {
    float: left;
    padding: 2px 0 0 10px;
}
.page_title h4 span, .page_title h4 span {
    color: #9B9B9B;
    font-family: arial;
    font-size: 20px;
    font-weight: normal;
    padding: 0 0 1px;
}
.page_title h4 a:hover span, .page_title h4 a:hover span {
    text-decoration: underline;
}
.page_title_branding {
    border-bottom: 1px solid #E8E8E8;
    float: left;
    padding: 8px 0 2px;
    width: 620px;
}
.page_title_branding h3 {
    display: inline;
    float: left;
}
.page_title_branding h3 span {
    color: #9B9B9B;
    font-family: arial;
    font-size: 15px;
    padding: 0 0 1px;
    text-transform: uppercase;
}
.page_title_branding h3 a span {
    color: #9B9B9B;
    font-family: arial;
    font-size: 24px;
    font-weight: bold;
    padding: 0 0 1px;
    text-transform: uppercase;
}
.page_title_branding h3 a:hover span {
    text-decoration: underline;
}
.page_title_branding span.branding {
    color: #9B9B9B;
    float: right;
    font-size: 12px;
    font-weight: bold;
}
.page_title_branding span.branding a {
    line-height: 16px;
}
.page_title_branding span.branding i {
    float: left;
    margin: 5px 5px 0 0;
}
body.story .page_title_branding span.branding i {
    margin: 1px 5px 0 0;
}
.section_title {
    border-top: 3px solid #E8E8E8;
    padding: 5px 0 3px;
}
.section_title a {
    color: #9B9B9B;
    font-size: 12px;
}
.section_title span {
    color: #9B9B9B;
    font-family: arial;
    font-size: 12px;
    font-weight: bold;
    padding: 0 0 1px;
    text-transform: uppercase;
}
.section_title span.chevron {
    color: #CCCCCC;
    font-family: arial;
    font-size: 18px;
    font-weight: bold;
    line-height: 12px;
    padding: 0;
    text-transform: uppercase;
}
.section_title span i {
    font-weight: normal;
    text-transform: lowercase;
}
.section_title span a b.cc {
    color: #EC3326;
    font-weight: normal;
}
.section_title span a b.dc {
    color: #221F72;
    font-weight: normal;
}
.section_title span a b.hc {
    color: #A0B415;
    font-weight: normal;
}
.section_title span a b.wc {
    color: #00AEEF;
    font-weight: normal;
}
.section_title span a b.fc {
    color: #1C60EF;
    font-family: arial;
    font-style: normal;
    font-weight: bold;
    text-transform: capitalize;
}
.section_title h3 span {
    color: #9B9B9B;
    font-family: arial;
    font-size: 12px;
    padding: 0 0 1px;
    text-transform: uppercase;
}
.section_title h3 a span {
    color: #9B9B9B;
    font-family: arial;
    font-size: 12px;
    padding: 0 0 1px;
    text-transform: uppercase;
}
.section_title h3 a:hover span {
    text-decoration: underline;
}
.section_title h3 a:hover span.chevron {
    text-decoration: none;
}
.section_title h4 span {
    color: #9B9B9B;
    font-family: arial;
    font-size: 12px;
    font-style: italic;
    font-weight: normal;
    padding: 0 0 1px;
}
.section_title h4 a {
    color: #9B9B9B;
    font-family: arial;
    font-size: 12px;
    padding: 0 0 1px;
}
.section_title h4 a span {
    color: #9B9B9B;
    font-family: arial;
    font-size: 12px;
    padding: 0 0 1px;
}
.section_title h4 a:hover span {
    text-decoration: underline;
}
.section_title02 {
    border-bottom: 3px solid #E8E8E8;
    float: left;
    padding: 8px 0 2px;
    width: 100%;
}
.section_title02 h3 {
    float: left;
}
.section_title02 h3 span {
    color: #9B9B9B;
    font-family: arial;
    font-size: 12px;
    padding: 0 0 1px;
    text-transform: uppercase;
}
.section_title02 h3 a span {
    color: #9B9B9B;
    font-family: arial;
    font-size: 12px;
    padding: 0 0 1px;
    text-transform: uppercase;
}
.section_title02 h3 a:hover span {
    text-decoration: underline;
}
.section_title02 h4 {
    float: right;
}
.section_title02 h4 span {
    color: #9B9B9B;
    font-family: arial;
    font-size: 12px;
    font-style: italic;
    padding: 0 0 1px;
}
.section_title02 h4 a {
    font-family: arial;
    font-size: 12px;
}
.section_title02 h4 a span {
    color: #9B9B9B;
    font-family: arial;
    font-size: 12px;
    padding: 0 0 1px;
}
.section_title02 h4 a:hover span {
    text-decoration: underline;
}
.section_title_small {
    padding: 8px 0 2px 5px;
}
.section_title_small h3 span {
    color: #9B9B9B;
    font-family: arial;
    font-size: 11px;
    padding: 0 0 1px;
}
.section_title_small h3 a {
    color: #9B9B9B;
    font-family: arial;
    font-size: 11px;
    text-decoration: none;
}
.section_title_small h3 a span {
    color: #9B9B9B;
    font-family: arial;
    font-size: 11px;
    text-decoration: none;
}
.section_title_small h3 a:hover span {
    text-decoration: underline;
}
.section_title_no_line {
    padding: 8px 0 2px;
}
.section_title_no_line h3 span {
    color: #9B9B9B;
    font-family: arial;
    font-size: 13px;
    padding: 0 0 1px;
    text-transform: uppercase;
}
.section_title_no_line h3 a span {
    color: #9B9B9B;
    font-family: arial;
    font-size: 13px;
    padding: 0 0 1px;
    text-transform: uppercase;
}
.section_title_no_line h3 a:hover span {
    text-decoration: underline;
}
.section_title_no_line h3 a:hover span.chevron {
    text-decoration: none;
}
.section_title_no_line a {
    color: #9B9B9B;
    font-size: 11px;
}
.section_title_no_line span {
    color: #9B9B9B;
    font-family: arial;
    font-size: 12px;
    font-weight: bold;
    padding: 0 0 1px 5px;
    text-transform: uppercase;
}
.section_title_no_line span.chevron {
    color: #CCCCCC;
    font-family: arial;
    font-size: 18px;
    font-weight: bold;
    line-height: 12px;
    padding: 0;
    text-transform: uppercase;
}
.section_title_no_line span i {
    font-weight: normal;
    text-transform: lowercase;
}
.section_title_no_line span b.cc {
    color: #EC3326;
    font-weight: normal;
}
.section_title_no_line span a b.cc {
    color: #EC3326;
    font-weight: normal;
}
.section_title_no_line span a b.dc {
    color: #221F72;
    font-weight: normal;
}
.section_title_no_line span a b.hc {
    color: #A0B415;
    font-weight: normal;
}
.section_title_no_line span a b.wc {
    color: #00AEEF;
    font-weight: normal;
}
.section_title_no_line span.logotext {
    border: medium none;
    float: left;
    margin-bottom: 7px;
    margin-top: 5px;
    width: 165px;
}
.section_title_no_line a b.bs {
    float: left;
    width: 20px;
}
.section_title_branding {
    border-top: 3px solid #E8E8E8;
    padding: 5px 0 3px;
}
.section_title_branding_no_line {
    border: medium none;
    padding: 5px 0 3px;
}
.section_title_branding a, .section_title_branding_no_line a {
    color: #9B9B9B;
    float: left;
    font-size: 12px;
}
.section_title_branding span, .section_title_branding_no_line span {
    color: #9B9B9B;
    font-family: arial;
    font-size: 12px;
    font-weight: bold;
    padding: 0 0 1px;
    text-transform: uppercase;
}
.section_title_branding span.chevron, .section_title_branding_no_line span.chevron {
    color: #CCCCCC;
    font-family: arial;
    font-size: 18px;
    font-weight: bold;
    line-height: 12px;
    padding: 0;
    text-transform: uppercase;
}
.section_title_branding span i, .section_title_branding_no_line span i {
    font-weight: normal;
    text-transform: lowercase;
}
.section_title_branding span a b.cc, .section_title_branding_no_line span a b.cc {
    color: #EC3326;
    font-weight: normal;
}
.section_title_branding span a b.dc, .section_title_branding_no_line span a b.dc {
    color: #221F72;
    font-weight: normal;
}
.section_title_branding span a b.hc, .section_title_branding_no_line span a b.hc {
    color: #A0B415;
    font-weight: normal;
}
.section_title_branding span a b.wc, .section_title_branding_no_line span a b.wc {
    color: #00AEEF;
    font-weight: normal;
}
.section_title_branding span a b.fc, .section_title_branding_no_line span a b.fc {
    color: #1C60EF;
    font-family: arial;
    font-style: normal;
    font-weight: bold;
    text-transform: capitalize;
}
.section_title_branding h3, .section_title_branding_no_line h3 {
    float: left;
    height: 18px;
    margin: 0;
}
.section_title_branding h3 span, .section_title_branding_no_line h3 span {
    color: #9B9B9B;
    font-family: arial;
    font-size: 12px;
    line-height: 18px;
    padding: 0 0 1px;
    text-transform: uppercase;
}
.section_title_branding h3 a span, .section_title_branding_no_line h3 a span {
    color: #9B9B9B;
    font-family: arial;
    font-size: 12px;
    padding: 0 0 1px;
    text-transform: uppercase;
}
.section_title_branding h3 a:hover span, .section_title_branding_no_line h3 a:hover span {
    text-decoration: underline;
}
.section_title_branding h3 a:hover span.chevron, .section_title_branding_no_line h3 a:hover span.chevron {
    text-decoration: none;
}
.section_title_branding .branding, .section_title_branding_no_line .branding {
    float: right;
    margin-top: 2px;
    padding-bottom: 0;
}
.section_title_branding .branding a span, .section_title_branding_no_line .branding a span {
    font-size: 11px;
    font-weight: normal;
    height: 18px;
    margin: 0;
    padding: 0;
}
.section_title_branding .branding a span.chevron, .section_title_branding_no_line .branding a span.chevron {
    font-size: 18px;
    font-weight: normal;
    line-height: 12px;
}
.section_title_branding .branding a, .section_title_branding_no_line .branding a {
    color: #9B9B9B;
    font-weight: normal;
    height: 18px;
    line-height: 12px;
}
.section_title_branding .branding i, .section_title_branding_no_line .branding i {
    float: left;
    margin: 0;
}
.section_title_rss {
    border-top: 3px solid #E8E8E8;
    float: left;
    padding: 5px 0 3px;
    width: 100%;
}
.section_title_rss h3 {
    color: #9B9B9B;
    float: left;
    font-family: arial;
    font-size: 12px;
    padding: 0 0 1px;
    text-transform: uppercase;
}
.section_title_rss span.chevron {
    color: #CCCCCC;
    font-family: arial;
    font-size: 18px;
    font-weight: bold;
    line-height: 12px;
    padding: 0;
    text-transform: uppercase;
}
.section_title_rss a span.rss {
    background: url("/images/icons/rsslogo.jpg") no-repeat scroll 0 4px transparent;
    float: right;
    height: 15px;
    width: 12px;
}
.section_title_rss h3 a {
    background: none repeat scroll 0 0 transparent;
    float: left;
    height: 15px;
    width: auto;
}
.section_title_rss h3 span {
    color: #9B9B9B;
    font-family: arial;
    font-size: 12px;
    padding: 0 0 1px;
    text-transform: uppercase;
}
.section_title_rss h3 a span {
    color: #9B9B9B;
    font-family: arial;
    font-size: 12px;
    padding: 0 0 1px;
    text-transform: uppercase;
}
.section_title_rss h3 a:hover span {
    text-decoration: underline;
}
.section_title_rss h3 a:hover span.chevron {
    text-decoration: none;
}
.no_section_title .section_title {
    display: none;
}
.no_morelinks .morelinks {
    display: none;
}
.no_relatedlinks .relatedlinks {
    display: none;
}
.sponsor_header {
    background: url("/images/logo/logo_fp_238_38.gif") no-repeat scroll left top #F5F8FF;
    border-left: 1px solid #E5E5E5;
    border-right: 1px solid #E5E5E5;
    border-top: 1px solid #E5E5E5;
    float: left;
    padding: 5px 0;
    width: 238px;
}
.sponsor_header .logo a {
    float: left;
    height: 27px;
    width: 238px;
}
.sponsor_header .logo a img {
    display: none;
}
.sponsor_header .text {
    display: none;
    float: left;
    padding-left: 5px;
}
.sponsor_header a b.fc {
    color: #1C60EF;
    font-family: arial;
    font-style: normal;
    font-weight: bold;
}
.sponsor_header_right {
    background: none repeat scroll 0 0 #F5F8FF;
    border-bottom: 1px solid #E5E5E5;
    border-left: 1px solid #E5E5E5;
    border-right: 1px solid #E5E5E5;
    float: right;
    padding: 5px 0;
    width: 238px;
}
.sponsor_header_right .logo {
    float: right;
    padding-right: 5px;
}
.sponsor_header_right .text {
    float: right;
    padding-right: 5px;
    text-align: right;
}
.sponsor_header_right a b.fc {
    color: #1C60EF;
    font-family: arial;
    font-style: normal;
    font-weight: bold;
}
.sponsor_fp {
    background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    padding: 5px 0;
    width: 130px;
}
.sponsor_fp .logo {
    float: left;
    padding: 5px 5px 0 0;
}
.sponsor_fp .text {
    float: left;
    margin: 0;
    padding: 0;
    text-align: left;
}
.sponsor_fp a b.fc {
    color: #1C60EF;
    font-family: arial;
    font-style: normal;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.sponsor_fp span {
    float: left;
    line-height: 12px;
    margin-top: 2px;
    padding: 0;
}
.rssfeature .section_title {
    border-bottom: 3px solid #E8E8E8;
    float: left;
    padding: 0 0 2px;
    width: 100%;
}
.rssfeature .section_title h3 {
    color: #9B9B9B;
    float: left;
    font-family: arial;
    font-size: 12px;
    padding: 0 0 1px;
    text-transform: uppercase;
}
.rssfeature .section_title a span.rss {
    background: url("/images/icons/rsslogo.jpg") no-repeat scroll 0 4px transparent;
    float: right;
    height: 15px;
    width: 12px;
}
.rssfeature .section_title h3 a {
    background: none repeat scroll 0 0 transparent;
    float: left;
    height: 15px;
    width: auto;
}
.rssfeature .section_title h3 span {
    color: #9B9B9B;
    font-family: arial;
    font-size: 12px;
    padding: 0 0 1px;
    text-transform: uppercase;
}
.rssfeature .section_title h3 a span {
    color: #9B9B9B;
    font-family: arial;
    font-size: 12px;
    padding: 0 0 1px;
    text-transform: uppercase;
}
.rssfeature .section_title h3 a:hover span {
    text-decoration: underline;
}
.classifieds .section_title {
    border: medium none;
    padding: 0;
}
.classifieds .section_title h3 span {
    color: #FFFFFF;
    font-family: arial;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 0 0 6px;
    text-transform: uppercase;
}
.classifieds .section_title h3 a span {
    background: none repeat scroll 0 0 transparent;
    color: #FFFFFF;
    float: left;
}
.classifieds .driving .section_title {
    background: url("/images/bg_bar_driving.gif") repeat-x scroll left top transparent;
    float: left;
    height: 27px;
    width: 300px;
}
.classifieds .homes .section_title {
    background: url("/images/bg_bar_homes.gif") repeat-x scroll left top transparent;
    float: left;
    height: 27px;
    width: 300px;
}
.classifieds .working .section_title {
    background: url("/images/bg_bar_working.gif") repeat-x scroll left top transparent;
    float: left;
    height: 27px;
    width: 300px;
}
.trading_desk .section_title {
    background: url("/images/bg_bar_trading_desk.gif") no-repeat scroll left bottom transparent;
    border: medium none;
    float: left;
    height: 39px;
    padding-top: 0;
    width: 240px;
}
.trading_desk .section_title a {
    float: left;
    height: 41px;
    width: 238px;
}
.trading_desk .section_title a span {
    display: none;
}
.business_wire .section_title {
    background: url("/images/bg_bar_business_wire.gif") no-repeat scroll left bottom transparent;
    border: medium none;
    float: left;
    height: 50px;
    margin: 5px 0 5px 5px;
    padding: 0;
    width: 210px;
}
.business_wire .section_title a {
    float: left;
    height: 50px;
    width: 210px;
}
.business_wire .section_title a span {
    display: none;
}
.bigboxwrapper {
    float: left;
    padding: 4px 0;
}
.rightadwrapper {
    float: left;
    padding: 4px 0;
}
.impulsewrapper_hr {
    float: left;
    margin: 4px 0;
}
.wrapper_hr_line {
    background: url("/images/hr_dot.gif") repeat-y scroll 150px 0 transparent;
    float: left;
}
.wrapper_vr_line_210 {
    background: url("/images/hr_dot.gif") repeat-y scroll 210px 0 transparent;
    float: left;
}
.rule_grey_double {
    border-bottom: 4px double #E5E5E5;
}
.rule_grey_solid {
    border-bottom: 1px solid #E5E5E5;
    height: 4px;
}
.section_morelink {
    float: right;
    margin: 0 0 10px;
    padding: 0 5px 5px 0;
}
.section_morelink .featurecontent {
    float: right;
}
.section_morelink .featurecontent a {
    color: #7B7B7B;
    font-size: 12px;
}
.section_morelink .featurecontent a span {
    color: #7B7B7B;
    font-family: arial;
    font-size: 12px;
    font-style: italic;
}
.arrow_blue {
    color: #4E5989;
    font-size: 16px;
    font-weight: bold;
}
table.legacy td {
    color: #7B7B7B;
    font-size: 12px;
    line-height: 18px;
}
table.legacy td a {
    color: #4E5989;
    font-size: 12px;
}
div.legacy {
    color: #7B7B7B;
    font-size: 12px;
    line-height: 18px;
}
div.legacy a {
    color: #4E5989;
    font-size: 12px;
}
.rssfeature .rss {
    display: none;
}
